@font-face {
  font-family: 'cc';
  src:  url('fonts/cc.eot?648gir');
  src:  url('fonts/cc.eot?648gir#iefix') format('embedded-opentype'),
    url('fonts/cc.ttf?648gir') format('truetype'),
    url('fonts/cc.woff?648gir') format('woff'),
    url('fonts/cc.svg?648gir#cc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cc-"], [class*=" cc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc-account:before {
  content: "\e900";
}
.cc-add_circle:before {
  content: "\e901";
}
.cc-arrow_left:before {
  content: "\e902";
}
.cc-arrow_right:before {
  content: "\e903";
}
.cc-bell:before {
  content: "\e904";
}
.cc-book-edit:before {
  content: "\e905";
}
.cc-bookmark:before {
  content: "\e906";
}
.cc-copy:before {
  content: "\e907";
}
.cc-download:before {
  content: "\e908";
}
.cc-drag_handle:before {
  content: "\e909";
}
.cc-drag_indicator:before {
  content: "\e90a";
}
.cc-edit:before {
  content: "\e90b";
}
.cc-ellipsis:before {
  content: "\e90c";
}
.cc-exit:before {
  content: "\e90d";
}
.cc-eye:before {
  content: "\e90e";
}
.cc-files:before {
  content: "\e90f";
}
.cc-gear:before {
  content: "\e910";
}
.cc-info:before {
  content: "\e911";
}
.cc-mail:before {
  content: "\e912";
}
.cc-message:before {
  content: "\e913";
}
.cc-nike:before {
  content: "\e914";
}
.cc-password:before {
  content: "\e915";
}
.cc-remark:before {
  content: "\e916";
}
.cc-replay:before {
  content: "\e917";
}
.cc-rules:before {
  content: "\e918";
}
.cc-search:before {
  content: "\e919";
}
.cc-settings:before {
  content: "\e91a";
}
.cc-triangle-down:before {
  content: "\e91b";
}
.cc-triangle-up:before {
  content: "\e91c";
}
.cc-user:before {
  content: "\e91d";
}
.cc-users:before {
  content: "\e91e";
}
.cc-wallet:before {
  content: "\e91f";
}
.cc-web:before {
  content: "\e920";
}
.cc-x:before {
  content: "\e921";
}
